.mainBodyCard
{

}
*box
{
    box-sizing: content-box;
}
input:focus {
    outline: none;
}
#profileName
{
    display:flex;
    align-items: end;
    column-gap: 1rem;
    width:80%;
    height:8rem;
    color:white;
    font-size:2.1rem;  
}
.okcreditImage
{
    display:flex;
    align-items: center;;
    height:2rem;
}

#expensiveMessage
{
    width:80%;
    font-size:2.2rem;
    color:white;
}

#inputBox
{
    display: flex;
    align-content:center;
    justify-content: space-around;
    align-items: center;;
    margin-top:2rem;
    width:85%;
    height:6rem;
    background-color:rgb(73, 69, 69);;
    border-radius: 2rem;
    background-color: (36, 34, 34)rgb;

}
#input
{
    border:none;
    font-size:1.5rem;
    background-color: rgb(73, 69, 69);
    flex-grow:1;
    max-width:85%;
}
#submitImage
{
    height:2rem;
}
#submitImage:hover
{
    height:2.5rem;
}