
main
{
    display:flex;    
    background-color:rgb(46, 42, 42);
}
#leftSideBar
{
    display:flex;
    flex-direction:column;
    height:100vh;
    color:rgb(212, 198, 198);
    width:25vw;
}
#menuContainer
{
    display:flex;
    justify-content: center;;;
    align-items: center;
    height:6rem;
}
.leftMenuImage:hover
{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;;
    height:2rem;
    width:2rem;
}
#menuBox
{
    display:flex;
    justify-content:space-between;
    max-width:80%;
    flex-grow:1;
}
#menu,#search
{
    height:1.5rem;
}
#menu:hover,#search:hover
{
    background-color: var(--hoverBackgroundColor);
    border-radius:50%;
    border:0.2rem var(--hoverBackgroundColor) solid;
}
#newCategoryBox
{ 
    display:flex;
    justify-content:center;;
    height:4rem;
}
#newCategory
{
    align-self:center;
    display:flex;
    align-items:center;
    flex-grow:1;
    font-size:1.2rem;
    column-gap: 1rem;
    border-radius:.9rem;
    max-width:85%;
    height:50%
}
#newCategory:hover
{
    background-color: var(--hoverBackgroundColor);
    color:black;
}
#pencil
{
    margin-left:0.4rem;
    height:1.4rem
}
#categoriesBox  
{
    display:flex;
    flex-direction: column;
    font-size:120%;
    align-items: center;
    flex-grow:1;
}
.categories
{
    display:flex;
    justify-content:space-around;
    width:85%;
    height:2rem;
    column-gap: 1rem;;
}
.categoriesMessage
{
    max-width:75%;;
    flex-grow:1;
    align-self:center;
}
.submitSymbol
{
    align-self:center;
    flex-shrink:1;
    max-width:1.2rem;
}
.submitSymbol:hover
{
    background-color:white;;
    border-radius: 50%;
    color:black;
}
.categories:hover
{
    background-color:var(--hoverBackgroundColor);
    border-radius:2rem;
    color:black;
}
#settingBox
{
    background-color:rgb(31, 29, 29);
    height:3rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
#setting
{
    display:flex;
    align-items: center;
    width:85%;
    font-size:120%;
    height:60%;
    column-gap: 1rem;;
}
#settingImage
{
    margin-left:0.4rem;
    height:1.2rem;
}
#setting:hover
{
    background-color: var(--hoverBackgroundColor);
    color:black;
    border-radius:2rem;
}