*
{
    margin:0px;
    padding:0px;
}
#okcreditSection
{
    display:flex;
    background-color: black;
    color:rgb(185, 177, 177);
    font-size: 1.5rem;
    align-items: center;;
    height:4rem
}
.okcreditChildElement
{
    margin:1rem;
}
#currentStatus
{
    flex-grow:1;
}
#account
{
    flex-shrink:1;
    background-color:rgb(73, 67, 67);;
    height:1.5rem;
}
#subscription
{
    flex-shrink:1;
    background-color: rgb(48, 44, 44);
    color:rgb(221, 212, 212);
    border:0px solid rgb(112, 104, 104);
    font-size:1.1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    height:1.5rem;
    width:5.5rem;
    border-radius: 1rem;;
}
#profile
{
    height:2rem;
    width:2rem;
    background-color:rgb(73, 67, 67);;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px rgb(68, 68, 70) solid;
    border-radius:50%;
}